{
    "develop":{
        "host":"",
        "user":"",
        "password":"",
        "database":""
    },
    "production":{
        "host":"",
        "user":"",
        "password":"",
        "database":""
    }
}
